/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF RESET */

body {
		font-family: 'Lato', sans-serif;
		background-image: url("../img/kratki.svg");
		background-repeat: repeat;
}

#logo {
	font-size: 36px;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

#subjects {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#chemistry, #physics {
	background-color: #1D9125;
	min-width: 42%;
	padding: 4%;
	font-size: 20px;
	color: white;
	margin-bottom: 5px;
}

#chemistry {
	float: left;
	background-color: #00B300;
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
}

#physics {
	float: right;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
}

#lessons {
	clear: both;
	font-size: 16px;
	padding: 5px;
}

.lesson-1, .lesson-2 {
	border-radius: 100px;
	background-color: #ede;
	text-align: center;
	margin-bottom: 10px;
	padding: 5px;
}

#options {
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: 20%;
	border-radius: 100px;
	background-color: #ede;
	text-align: center;
	padding: 3%;
}

#continue {
	position: relative;
	width: 50%;
	margin: 0 auto;
	border-radius: 100px;
	background-color: #00A0B3;
	text-align: center;
	color: white;
	font-weight: bolder;
	padding: 3%;
}

.panel {
	padding: 10px;
	font-size: 20px;
}

.panel h2 {
	font-size: 32px;
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
	font-variant: small-caps;
	color: navy;
	font-weight: bold;
}

.panel p {
	text-indent: 7%;
	text-align: justify;
}

.formula {
	text-align: center;
	padding: 10px 0px;
}

.formula sub {
	vertical-align: sub;
	font-size: 14px;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

a {
	color: navy;
	font-style: italic;
	text-decoration: none;
}

input[type="number"] {
  padding: 10px;
  border: solid 3px #c9c9c9;
  transition: border 0.3s;
  width: 50px;
  font-size: 18px;
}

input[type="number"]:focus,
input[type="number"].focus {
  border: solid 3px #969696;
}

.good-answer, .medium-answer, .bad-answer, .btn,
.btn-good, .btn-medium, .btn-bad  {
	padding: 5px;
	text-align: center;
	font-size: 18px;
	margin: 10px auto;
	background: transparent;
}

.btn, .btn-good, .btn-medium, .btn-bad {
	color: white;
}

.good-answer {
	border: 3px solid green;
}

.medium-answer {
	border: 3px solid #FF8800;
}

.bad-answer {
	border: 3px solid red;
}

.btn-good {
	background-color: green;
}

.btn-medium {
	background-color: #FF8800;
}

.btn-bad {
	background-color: red;
}

.btn {
	background-color: navy;
}